<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/lib/sticky_footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/lib/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cinzel:700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico?v=8"/>
    <meta name="viewport" content="width=device-width">
    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <div id="wrap">
      <div id="header">
          <div class="logos">
            <h2 id="logo">
              <a href='/'>Molly the Cat</a>
              <span class="social">
                <a href="http://twitter.com/uberj_"><i class="icon-twitter-sign"></i></a>
                <a href="http://github.com/uberj/molly.cat"><i class="icon-github-sign"></i></a>
              </span>
            </h2>
            <span id="sublogo">the life of a snowshoe kitty</span>
          </div>

          <div id="navigation">
            {% for link in site.tags['navigation'] | sort(attribute='navrank') %}
                <a href="{{ link.url }}">
                <span {% if page.url == link.url %} class="current-nav"{% endif %}>{{ link.title.title() }}</span></a>
            {% endfor %}
          </div>
      </div>

      <div class="main">
        <div class="header-group">{% block page_header %}{% endblock %}</div>

        <div class="base-image">
          {% if page.image %}
            <div class="page_pic {{ page.image.where }}" style="
                {% if page.image.width %} max-width: {{page.image.width}}; {% endif %}
                {% if page.image.height %} max-height: {{page.image.height}}; {% endif %}">
              <img src="{{ page.image.url }}">
              {% if page.image.caption %}
                <span>{{ page.image.caption }}</span>
              {% endif %}
            </div>
          {% endif %}
        </div>

        {% block content %}
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      <span>
        <span class="social">
          <a href="http://twitter.com/uberj_"><i class="icon-twitter-sign"></i></a>
        </span>
        <div>powered by <a href="http:///wok.mythmon.com">wok</a></div>
      </span>
    </div>

  </body>
</html>

